#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#taskList li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;
}

#taskList li p {
    margin: 0;
    margin-left: 16px;
}

#todo-container button {
    border: 1px solid black;
    padding: 4px 10px;
    margin-left: 16px;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.1s;
}

#todo-container button:hover {
    color: white;
    background-color: #0d6efd;
}

.complete {
    text-decoration: line-through;
}